{% extends "base.html" %}
{% block title %}Authors page{% endblock %}
{% block content %}
<div class="container">
  <h1>AUTHORS PAGE</h1>
  <br>
  <button class=" btn btn-info "><a href="{{ url_for('add_author') }}">add auth</a></button>
  <br>
    <table class="table table-hover table-white">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">name</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          {% for aut in AUTHORS %}  
          <tr>
            <th scope="row"></th>
            <td>{{ aut.name }}</td>
            <td>
                <button type = "button" class="btn btn-danger">Delete</button>
                <button type = "button" class="btn btn-info">???</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
{% endblock %}

