{% extends "base.html" %}

{% block title %}Home page{% endblock %}

{% block content %}
<div class="container">
<h4>
Develop a web application using the Flask and Bootstrap frameworks. You will need to use the application view class as the basis for your project. In addition, you must implement the logic of the "Document" class that have the following attributes; ID, title, number of pages, category and authors. Note that object persistence must be in memory.
The development of this activity must be carried out individually. They can use Python and C# as server-side languages. Also, you will need to upload your project on GitHub and share the respective project link.
</h4>
<br>
<ul>
    <button type="button" class="btn btn-info"><a href="{{url_for('documents')}}">Documents</a></button>
    <button type="button" class="btn btn-info"><a href="{{url_for('authors')}}">Authors</a></button>
</ul>
</div>
{% endblock %}